<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="gbk"/>
    <title>Title</title>
    <style>
        body{
            font-family:SimHei;
        }
        .color{
            color: green;
        }
        .pos{
            position:absolute;
            left:200px;
            top:5px;
            width: 200px;
            font-size: 10px;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
    </style>
</head>
<body>
<img src="C:/Users/szsw/Desktop/dist/logo.png" width="600px"/>
<div class="color pos">
    你好，${name}
</div>
<div>
    <table border="1px">
        <thead>
            <tr><td>姓名</td><td>年龄</td></tr>
        </thead>
        <tbody>${table}</tbody>
    </table>
</div>
</body>
</html>